.ragister{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color:#FCCC76;
    padding: 4rem;
}
.ragister h1{
    /* color: black; */
    color: white;
}
.head{
    /* background-color: #F5C125; */
    background-color: #363636;
    padding: 2rem;
    margin-top: 1rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.item1{
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
#Name{
    /* background-color: rgb(228, 255, 255); */
    /* display: flex; */
    border: 2px solid black;
    font-size: large;
    width: 22rem;
    margin-top: 2rem;
    padding: .5rem;
}
#phone{
    /* background-color: rgb(228, 255, 255); */
    /* display: flex; */
    border: 2px solid black;
    font-size: large;
    width: 22rem;
    padding: .5rem;
    margin-top: 1rem;
}
#bed{
    /* background-color: rgb(228, 255, 255); */
    /* display: flex; */
    border: 2px solid black;
    font-size: large;
    width: 22rem;
    padding: .5rem;
    margin-top: 1rem;
}
#checkin{
     /* background-color: rgb(228, 255, 255); */
    /* display: flex; */
    border: 2px solid black;
    font-size: large;
    width: 22rem;
    padding: .5rem;
    /* margin-top: 1rem; */
}

#checkout{
     /* background-color: rgb(228, 255, 255); */
    /* display: flex; */
    border: 2px solid black;
    font-size: large;
    width: 22rem;
    padding: .5rem;
    /* margin-top: 1rem; */
}
#butn{
    background-color: rgb(33, 174, 15);
    width: 20rem;
    padding: .5rem;
    border-radius: 5rem;
    margin-top: 1rem;
    font-weight: 700;
    transition: 0.4s;
}
.check{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 600;
}
#butn:hover{
    background-color: green;
    color: white;
}

/* reuse css */

.reuse{
    display: flex;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.reuse1{
    background-color: white;
    height: 27rem;
    width: 18rem;
    border-radius: 10px;
}
.imeg{
    width: 18rem;
    height: 15rem;
    border-radius: 10px;
    overflow: hidden;
}
.ptag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title1{
    color: black;
}

/* room */

.room{
    background-color: #F5C125;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.itemroom{
    margin-top: 1rem;
    margin-left: 4rem;
}

/* media quaris */

@media screen and (max-width: 414px){
    .itemroom{
        margin: 0 auto; 
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 430px){
    .itemroom{
        margin: 0 auto; 
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 540px){
    /* .room{
        margin-top: 1rem;
    } */
    .itemroom{
        margin: 0 auto; 
        margin-bottom: 1rem;
    }
    .reuse{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 500px){
    #Name{
        border: 2px solid black;
        font-size: large;
        width: 18rem;
        margin-top: 2rem;
        padding: .5rem;
    }
    #phone{
        border: 2px solid black;
        font-size: large;
        width: 18rem;
        padding: .5rem;
        margin-top: 1rem;
    }
    #bed{
        border: 2px solid black;
        font-size: large;
        width: 18rem;
        padding: .5rem;
        margin-top: 1rem;
    }
    #checkin{
        border: 2px solid black;
        font-size: large;
        width: 18rem;
        padding: .5rem;
    }
    
    #checkout{
        border: 2px solid black;
        font-size: large;
        width: 18rem;
        padding: .5rem;
    }
    #butn{
        background-color: rgb(33, 174, 15);
        width: 18rem;
        padding: .5rem;
        border-radius: 5rem;
        margin-top: 1rem;
        font-weight: 700;
        transition: 0.4s;
    }
    .check{
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        font-weight: 600;
    }
    .ragister h1{
        font-size: 1.6rem;
        color: white;
    }
    .item1{
        padding-bottom: 3rem;
    }
    .ragister{
        padding: 2rem;
    }
}


@media screen and (max-width: 380px){
    #Name{
        border: 2px solid black;
        font-size: large;
        width: 15rem;
        margin-top: 2rem;
        padding: .3rem;
    }
    #phone{
        border: 2px solid black;
        font-size: large;
        width: 15rem;
        padding: .5rem;
        padding: .3rem;
    }
    #bed{
        border: 2px solid black;
        font-size: large;
        width: 15rem;
        padding: .5rem;
        padding: .3rem;
    }
    #checkin{
        border: 2px solid black;
        font-size: large;
        width: 15rem;
        padding: .3rem;
    }
    
    #checkout{
        border: 2px solid black;
        font-size: large;
        width: 15rem;
        padding: .3rem;
    }
    #butn{
        background-color: rgb(33, 174, 15);
        width: 15rem;
        padding: .5rem;
        border-radius: 5rem;
        margin-top: 1rem;
        font-weight: 700;
        transition: 0.4s;
    }
    .check{
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        font-weight: 600;
    }
    .ragister h1{
        font-size: 1.4rem;
        color: white;
    }
    .item1{
        padding-bottom: 3rem;
    }
    .ragister{
        padding: 1rem;
    }
}